@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";


/**************
Variables
**************/
$tan: #F5F5F1;
$lighttan: #FBFBFA;
$blue: #39AAC5;
$darkblue: #1692B3;
$orange: #F45800;
$green: #78C042;
$white: #FFFFFF;
$black: #555555;
$gray: #B2B2B2;
$lightgray: #E1E3DF;

/**************
General
**************/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $tan;
  font-family: 'Roboto', sans-serif;
}

main {
  @include outer-container;
  margin-top: 30px;
}

a {
  color: $darkblue;
  text-decoration: none;
}

p {
  font-size: 13px;
  margin: 5px 7px;
}

.active {
  color: $black;
  font-weight: 700;
  margin-left: -15px;
}

.button {
  width: 80px;
  height: 35px;
  background: transparent;
  margin-left: 20px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: none;
}

/**************
Header
**************/

header {
  height: 80px;
  width: 100%;
  background: $white;
  box-shadow: 0px 0.1px 3px $black;
}

nav {
  @include outer-container;
}

.searchbar {
  float: left;
}

.logo {
  color: $orange;
  font-size: 40px;
  font-family: 'Lora', serif;
  float: left;
  padding-top: 15px;
  margin-right: 20px;
}

.searchText {
  font-size: 14px;
  box-shadow: inset 0 0 2px $gray;
  background: $lighttan;
  border: 1px solid $gray;
  margin-top: 22px;
  padding-left: 8px;
  width: 260px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchText:focus {
  outline: none;
  box-shadow: none;
  background: $white;
  border: 1px solid $darkblue;
}

#search {
  position: relative;
  background: $blue;
  color: $white;
  border: 1px solid $darkblue;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  left: -6px;
  font-size: 16px;
  font-weight: 700;
}

#browse {
  border: 1px solid $lightgray;
}

#register {
  color: $darkblue;
  border: none;
  width: 60px;
}

#signIn {
  border: 1px solid $darkblue;
  color: $darkblue;
  width: 60px;
}

#cart {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  padding-left: 15px;
  margin-left: 15px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #EEEEEE;
  font-size: 12px;

  img {
    height: 22px;
  }
}


.loginWrapper {
  float: right;
  margin-top: 20px;
}

/**************
Aside
**************/

aside {
  @include span-columns(3);
}

dl {
  background: $white;
  height: 450px;
  border: 1px solid $lightgray;
  border-radius: 3px;
  margin: 0;
  padding: 20px 0 20px 30px;
}

dt {
  padding-bottom: 10px;
  font-size: 14px;
}

/**************
Content
**************/

#resultsCat {
  float: left;
  margin-right: 0;
}

#resultsLine {
  float: left;
}

#sortBy {
  float: right;
}

section {
  @include span-columns(9);
  height: 100%;
}

ul {
  margin: 0;
}

li {
  @include span-columns(4);
  @include omega(3n);
  position: relative;
  background: $white;
  border: 1px solid $lightgray;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 255px;
  height: 250px;

  &:hover .socialBtn {
    opacity: 1;
  }

  img {
    height: 190px;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.socialRow {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2px;
}

.socialBtn {
  background-color: $white;
  border: 1px solid $gray;
  margin: 5px 2px 0;
  padding: 4px;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  opacity: 0;
  transition: all .2s ease;

  &:hover {
    box-shadow: 0px 1px 2px $black;
  }
}

.socialFav {
  background-image: url(../images/heart.png);
  background-size: cover;
  height: 15px;
  width: 15px;
}

.socialHam {
  background-image: url(../images/hamburger.png);
  background-size: cover;
  height: 15px;
  width: 15px;
}

/**************
Result
**************/

#contentImg {
  object-fit: fill;
}

#title {
  color: $black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

#user {
  float: left;
  color: $gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}

#price {
  float: right;
  color: $green;
}

/**************
Footer
**************/