html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/**************
Variables
**************/
/**************
General
**************/
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #F5F5F1;
  font-family: 'Roboto', sans-serif; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

main::after {
  clear: both;
  content: "";
  display: table; }

a {
  color: #1692B3;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

p {
  font-size: 13px;
  margin: 5px 7px; }

.active {
  color: #555555;
  font-weight: 700;
  margin-left: -15px; }

.button {
  width: 80px;
  height: 35px;
  background: transparent;
  margin-left: 20px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: none; }

/**************
Header
**************/
header {
  height: 80px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0.1px 3px #555555; }

nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

nav::after {
  clear: both;
  content: "";
  display: table; }

.searchbar {
  float: left; }

.logo {
  color: #F45800;
  font-size: 40px;
  font-family: 'Lora', serif;
  float: left;
  padding-top: 15px;
  margin-right: 20px; }

.searchText {
  font-size: 14px;
  box-shadow: inset 0 0 2px #B2B2B2;
  background: #FBFBFA;
  border: 1px solid #B2B2B2;
  margin-top: 22px;
  padding-left: 8px;
  width: 260px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.searchText:focus {
  outline: none;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid #1692B3; }

#search {
  position: relative;
  background: #39AAC5;
  color: #FFFFFF;
  border: 1px solid #1692B3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  left: -6px;
  font-size: 16px;
  font-weight: 700; }

#browse {
  border: 1px solid #E1E3DF; }

#register {
  color: #1692B3;
  border: none;
  width: 60px; }

#signIn {
  border: 1px solid #1692B3;
  color: #1692B3;
  width: 60px; }

#cart {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  padding-left: 15px;
  margin-left: 15px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #EEEEEE;
  font-size: 12px; }

#cart img {
  height: 22px; }

.loginWrapper {
  float: right;
  margin-top: 20px; }

/**************
Aside
**************/
aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

aside:last-child {
  margin-right: 0; }

dl, .refine {
  background: #FFFFFF;
  min-height: 450px;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  margin: 15px 0 25px 0;
  padding: 20px 0 20px 30px; }

dt {
  padding-bottom: 10px;
  font-size: 14px; }

/**************
Refine section
**************/
.refine {
  padding: 0 10px; }

.refine p {
  font-size: 14px; }

.rad {
  margin-left: 8px; }

.rad a {
  margin-left: 10px; }

.rad input {
  margin-top: 5px;
  margin-bottom: 5px; }

.refsec {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E1E3DF;
  font-size: 14px; }

.pricer input {
  display: inline-block;
  height: 40px;
  width: 70px;
  margin: 10px 0;
  padding-left: 10px;
  border: 1px solid #E1E3DF;
  border-radius: 3px; }

.highlow:focus {
  outline: none;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid #1692B3; }

.priceTo {
  display: inline-block;
  font-size: 14px;
  margin: 8px; }

#rightArrow {
  padding: 0;
  width: 40px;
  background-color: #FFFFFF; }

#rightArrow:hover {
  background-color: #F5F5F1; }

.filtRed, .filtOrange, .filtYellow, .filtGreen, .filtBlue, .filtPurple, .filtBlack, .filtWhite {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin: 10px 1px;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  background-color: red; }

.filtOrange {
  background-color: orange; }

.filtYellow {
  background-color: yellow; }

.filtGreen {
  background-color: green; }

.filtBlue {
  background-color: blue; }

.filtPurple {
  background-color: purple; }

.filtBlack {
  background-color: black; }

.filtWhite {
  background-color: white; }

.ordering input {
  margin-top: 10px; }

.customSelect {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #E1E3DF; }

.customSelect:focus {
  outline: none;
  border: 1px solid #1692B3; }

/**************
Content
**************/
#resultsCat {
  float: left;
  margin-right: 0; }

#resultsLine {
  float: left; }

#sortBy {
  float: right; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  height: 100%; }

section:last-child {
  margin-right: 0; }

ul {
  margin: 0; }

li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 255px;
  height: 250px; }

li:last-child {
  margin-right: 0; }

li:nth-child(3n) {
  margin-right: 0; }

li:nth-child(3n+1) {
  clear: left; }

li:hover .socialBtn {
  opacity: 1; }

li img {
  height: 190px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.socialRow {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2px; }

.socialBtn {
  background-color: #FFFFFF;
  border: 1px solid #B2B2B2;
  margin: 5px 2px 0;
  padding: 4px;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  opacity: 0;
  transition: all 0.2s ease; }

.socialBtn:hover {
  box-shadow: 0px 1px 2px #555555; }

.socialFav {
  background-image: url(../images/heart.png);
  background-size: cover;
  height: 15px;
  width: 15px; }

.socialHam {
  background-image: url(../images/hamburger.png);
  background-size: cover;
  height: 15px;
  width: 15px; }

/**************
Result
**************/
#contentImg {
  object-fit: fill; }

#title {
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#user {
  float: left;
  color: #B2B2B2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#user:hover {
  text-decoration: underline; }

#price {
  float: right;
  color: #78C042; }

/**************
Footer
**************/
