html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/**************
Variables
**************/
/**************
General
**************/
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #F5F5F1;
  font-family: 'Roboto', sans-serif; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

main::after {
  clear: both;
  content: "";
  display: table; }

a {
  color: #1692B3;
  text-decoration: none; }

p {
  font-size: 13px;
  margin: 5px 7px; }

.active {
  color: #555555;
  font-weight: 700;
  margin-left: -15px; }

.button {
  width: 80px;
  height: 35px;
  background: transparent;
  margin-left: 20px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: none; }

/**************
Header
**************/
header {
  height: 80px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0.1px 3px #555555; }

nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

nav::after {
  clear: both;
  content: "";
  display: table; }

.searchbar {
  float: left; }

.logo {
  color: #F45800;
  font-size: 40px;
  font-family: 'Lora', serif;
  float: left;
  padding-top: 15px;
  margin-right: 20px; }

.searchText {
  font-size: 14px;
  box-shadow: inset 0 0 2px #B2B2B2;
  background: #FBFBFA;
  border: 1px solid #B2B2B2;
  margin-top: 22px;
  padding-left: 8px;
  width: 260px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.searchText:focus {
  outline: none;
  box-shadow: none;
  background: #FFFFFF;
  border: 1px solid #1692B3; }

#search {
  position: relative;
  background: #39AAC5;
  color: #FFFFFF;
  border: 1px solid #1692B3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  left: -6px;
  font-size: 16px;
  font-weight: 700; }

#browse {
  border: 1px solid #E1E3DF; }

#register {
  color: #1692B3;
  border: none;
  width: 60px; }

#signIn {
  border: 1px solid #1692B3;
  color: #1692B3;
  width: 60px; }

#cart {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  padding-left: 15px;
  margin-left: 15px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #EEEEEE;
  font-size: 12px; }

#cart img {
  height: 22px; }

.loginWrapper {
  float: right;
  margin-top: 20px; }

/**************
Aside
**************/
aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

aside:last-child {
  margin-right: 0; }

dl {
  background: #FFFFFF;
  height: 450px;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  margin: 0;
  padding: 20px 0 20px 30px; }

dt {
  padding-bottom: 10px;
  font-size: 14px; }

/**************
Content
**************/
#resultsCat {
  float: left;
  margin-right: 0; }

#resultsLine {
  float: left; }

#sortBy {
  float: right; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  height: 100%; }

section:last-child {
  margin-right: 0; }

ul {
  margin: 0; }

li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background: #FFFFFF;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 255px;
  height: 250px; }

li:last-child {
  margin-right: 0; }

li:nth-child(3n) {
  margin-right: 0; }

li:nth-child(3n+1) {
  clear: left; }

li img {
  position: relative;
  height: 190px;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

/**************
Result
**************/
#contentImg {
  object-fit: fill; }

#title {
  color: #555555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#title:hover {
  text-decoration: underline; }

#user {
  float: left;
  color: #B2B2B2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#user:hover {
  text-decoration: underline; }

#price {
  float: right;
  color: #78C042; }

/**************
Footer
**************/
